// Starter Blog Template
// https://wowchemy.com/hugo-themes/

.home-section {
  padding: 3em 0 3em 0;
}

.home-section.wg-about-avatar {
  padding: 0.2rem 0 0.2rem 0;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

#profile .network-icon {
  margin-top: 0.5rem;
}

ul.network-icon .big-icon {
  font-size: 1.5rem;
}

.dark .portrait-title h3 {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.5px black;
}

.dark .portrait-title h2 {
  color: #fff;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
}

.home-section > .content {
  width: 45em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
}

.home-section > .content > :last-child {
  margin-bottom: 0;
}

.home-section header {
  margin-bottom: 1em;
}

// Narrower container for Hello World sections (primarily Blank widget content).
@media (min-width: 1200px) {
  .home-section .container {
    max-width: 880px;
  }
}
@media (min-width: 992px){
  .home-section .container {
    max-width: 880px;
  }
}

// Custom avatar size on homepage
.avatar {
  width: auto;
  height: auto;
  max-width: 225px;
  max-height: 225px;
}

// Prevent stretching on About page with narrow container
.wg-about .avatar {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

// Smaller Name and Role text on About page than in homepage `about.avatar` widget
.wg-about .portrait-title h2 {
  font-size: 1rem
}

.wg-about .portrait-title h3 {
  font-size: .8rem
}
